node_modules
dist
.vercel
.env
*.log
public/Images/IMG_3600.TIF
public/Images/hero-carousel-backdrop.png
public/Images/Tea's cd's logo kit/*.png
public/Images/Emo nite Poster billbaord mockup.png
public/Images/Grand Theft Emo Logo Kit-11.jpg
public/Images/TVB Cap Mockup.png
